<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12506517632-nvg17l341gundti2o5mhtbjeq6sepf35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12506517632-nvg17l341gundti2o5mhtbjeq6sepf35</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>12506517632-1n09jv42mbgpn7kl0et2gd4fi9hdi70t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmRq2OQGnbm57h8mslwN1orxbG6maTFAo</string>
	<key>GCM_SENDER_ID</key>
	<string>12506517632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanata.haimed.premagana</string>
	<key>PROJECT_ID</key>
	<string>haimed-premagana</string>
	<key>STORAGE_BUCKET</key>
	<string>haimed-premagana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12506517632:ios:bf65d321cc2e9ff1355665</string>
</dict>
</plist>