<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026284748792-ojjf6k6cjek3jlvupfcibk4bp7vlchb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026284748792-ojjf6k6cjek3jlvupfcibk4bp7vlchb3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026284748792-blu8rqnbsmlaubn83plvku1dlf93sfco.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBPK43kkLLvN47STgXhEhrZTejtc0N4xo</string>
	<key>GCM_SENDER_ID</key>
	<string>1026284748792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanata.haimedGetx</string>
	<key>PROJECT_ID</key>
	<string>haimed-cendana</string>
	<key>STORAGE_BUCKET</key>
	<string>haimed-cendana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026284748792:ios:6347b8c59edb95925da00d</string>
</dict>
</plist>